nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.seccion-principal {
    position: relative;
    background-size: cover; 
    background-position: center; 
}

.superposicion {
    background: rgba(0, 0, 0, 0.5);
}

.pie-pagina {
    background-color: #2B2B2B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.pie-pagina a {
    color: white;
    text-decoration: none;
}

.pie-pagina a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-x-4 {
    gap: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.h-6 {
    height: 1.5rem;
    width: 1.5rem;
}